/*
 * Creado por:
 * Sebastian Pinto Becerra
 * Santiago Barrera
 *  
 * Universidad Central - 2019 
 */
/*  INICIO -----------------------------------------------------------*/
.container-fluid{
    margin-bottom: 0px;
}
/*  FUENTES-----------------------------------------------------------*/
h1,h2,h3,h4{
    color: #21395d;
    font-family: 'Montserrat', sans-serif;
}


/*  INICIO LOCALIDADES -----------------------------------------------------------*/
#inicioRiff{
    margin: -57px -50px -50px -50px;
    z-index: 5;
}

#img-div-inicio{
    z-index: 5;
    position: absolute;
    width: 50%;
    margin: 32% 0% 0% 108%;
}

#bienvenido-div-inicio{
    margin: 13% 0% 0% 85%;
    position: absolute;
    width: 100%;
}

.titulo-inicio{
    color: white;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}

.parrafo-inicio{
    color: white;
    font-size: 15px;
    font-family: 'Poiret One', cursive;
}

.btn-primary{
    background-color: #21395d;
    border-color: #21395d;
    font-family: 'Roboto', sans-serif;
}

#footerAplicacion{
    position: fixed;
    z-index: 100;
}

.btn-disabled{
    background-color: #21395d99 !important;
    border-color: #21395d99 !important;
}


/*  PAGINAS SITIOS  -----------------------------------------------------------*/
.ingCarouselInicio{
    height: 100%;
}
.bordeSombra{
    /*    -webkit-box-shadow: 4px 7px 11px 5px rgba(0,0,0,0.69);
        -moz-box-shadow: 4px 7px 11px 5px rgba(0,0,0,0.69);
        box-shadow: 4px 7px 11px 5px rgba(0,0,0,0.69);*/
}
.circuloLogoInicio{
    width: 250px;
    height: 250px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: white;
    margin-left: 15%;
}
.quienesSomos{
    padding: 14px 14px 14px 14px;
    background: white;
}
.quienesSomos p{
    text-align: center;
}
.serviciosSitioBanner{
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
}
.serviciosSitio {
    width: 200px;
    height: 80px;
    background: #1a2a43;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    padding-top:7px;
}
.serviciosSitio:hover{
    background: #21395d;
}

.serviciosSitioBanner .navbar li:hover{
    color: black;
    font-weight: bold;
}

#pagInicio iframe{
    width: 100%;
}
.detailsContainer{
    padding: 14px 14px 14px 14px;
    background: white;
}
div.infoLine {
    line-height: 130%;
    font-size: 100%;
}
span.infoIcon {
    opacity: 0.50;
    float: left;
    margin-right: 3px;
}


/*  CONTACTENOS -----------------------------------------------------------*/
#btnEnviarDatosContactenos{
    background: #21395d;
    border-color: #21395d;
}
#btnEnviarDatosContactenos:hover{
    color: #fff;
    background-color: #21395de6;
    border-color: #21395d;
}
.contenedorDatos{
    margin-top: 10% !important;
}

.contenedorDatos input, textarea {
    margin-top: 7px;
}

#logoTribuna{
    max-width: 69%;
    margin: 1% 0% -1% 15%;
}

#cajaMensajeContactenos{
    height: 226px;
}

#imgSebastian, #imgAlberto{
    border-radius: 700px;
    overflow: hidden;
    margin-top: -100px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    border: 2px solid #fff;
    max-width: 63%;
    height: auto;
}

#cajaDesarrolladores{
    text-align: center;
    background-color: darkslategrey;
    color: whitesmoke;
    border-radius: 50px;
    margin-top: 20%;
    padding-bottom: 10px;
    margin-bottom: 14px;
}

/*  CALENDARIO -----------------------------------------------------------*/
.grilla{
    border: solid 1px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    width: 1022px;
    height: 30px;
}
.grilla:hover{
    background-color: #A2A2A2;
}

.grillaEncabezado{
    background-color: #DAE1E7;
    font-weight: bold;
}
.busquedaSigCalendario{
    color: white;
    font-size: 21px;
    font-weight: bold;
    width: 20px;
}

/*  CARDS SITIOS Y SALAS -----------------------------------------------------------*/
.card-sitios, .card-salas{
    justify-content: space-around;
}
.card-salas img:hover{
    cursor: pointer;
}

#carouselSalaCuevaBohio, #carouselSalaCuevaMiles, #carouselSalaCuevaAmatista{
    position: relative; 
    width: 240px; 
    height: 240px; 
    overflow: hidden;
    margin-left: 14%;
}
#carouselSalaCuevaBohio img, #carouselSalaCuevaMiles img, #carouselSalaCuevaAmatista img{
    width: 240px; 
    height: 240px; 
    object-fit: cover;
}

.breadcrumbSegundoNivel{
    color: #007bff !important;
    text-decoration: none !important;
    background-color: transparent !important;
    cursor: pointer;
}

.separadorCuevaCebra{
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../imagenes/Fotos sitio/Cueva de la Cebra/separador_cebra.png");
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 18px;
}

#cuevaCebraContactenosBtn{
    background: #21395d;
    border-color: #21395d;
}
#cuevaCebraContactenosBtn:hover{
    color: #fff;
    background-color: #21395de6;
    border-color: #21395d;
}

.card-sitios .card .card-body{
    background-color: #1c1c1c;
    color: white;
}


.nav-item{
    margin-right: 20px;
}

.btn-success{
    background-color: #21395d!important;
    border-color: #1a2a43!important;
}

#distanciaUsuarioCueva, #distanciaUsuarioPakarny, #distanciaUsuarioElToke{
    text-align: center;
    font-size: 15px;
    margin-top: 11%;
    margin-bottom: 11%;
}